@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@400,600;1,600&display=swap');

:root {
    --cor-primaria: #08040B;
    --cor-secundario: #fff;
    --cor-terciaria: #22d4fd;
    --cor-quarternaria: #242020;
    --cor-quinternaria: #0C030A;
    --cor-sextearia: #180615;
    --cor-setiaria: #24091F;
    --cor-octaria: #180615;
    --cor-nonaria: #00132F;
    --cor-dectaaria: #013677;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-segundaria: "Montserrat" , sans-serif;
}

.cards {
    display: flex;
    background-color: var(--cor-secundario);
    color: var(--cor-primaria);

    width: 1100px;
    height: 700px;
    border-radius: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.cards:hover { /* Hover com bug, manter o card com a mesma margin depois do hover */
    transform: scale(1.1); /* Aumenta o card em 10% */
}

.Img {
    width: 520px;
    height: 260px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.cards__card {
    display: flex;

}

.cards__imgTecnologia {
    align-items: center;
    margin: 15px;
    padding: 0;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
}

.tecnologias {
    display: flex;
}

.cards__separacao {
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.cards__Textos { /* Concertar Hover, provavelmente o bug esteja aqui */
    background-color: var(--cor-dectaaria);
    color: var(--cor-secundario);
    width: 555px;
    height: 700px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.card__Texto { 
    overflow-y: auto;
    width: 530px;
    height: 465px;
    margin: 0;
    justify-content: center;
    word-wrap: break-word;
}

/* Scrollbar */
.card__Texto::-webkit-scrollbar {
    background-color: var(--cor-nonaria);
    width: 12px;
    border-radius: 10px;
}

.card__Texto::-webkit-scrollbar-thumb {
    background-color: var(--cor-terciaria);
    border-radius: 10px;
}