@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@400,600;1,600&display=swap');

:root {
    --cor-primaria: #08040B;
    --cor-secundario: #fff;
    --cor-terciaria: #22d4fd;
    --cor-quarternaria: #242020;
    --cor-quinternaria: #0C030A;
    --cor-sextearia: #180615;
    --cor-setiaria: #24091F;
    --cor-octaria: #180615;
    --cor-nonaria: #00132F;
    --cor-dectaaria: #013677;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-segundaria: "Montserrat" , sans-serif;
}

.cards {
    display: flex;
    /* flex-shrink: 0; */
    scroll-snap-align: start;
    background-color: var(--cor-secundario);
    color: var(--cor-primaria);

    width: 970px;
    height: 500px;
    border-radius: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease; 
    margin: 1%;
}

/* Tentando alinhar os Cards principais dentro dos "Meus Projetos" */
.CentroCards{
    display: flex;
    gap: 4rem;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    z-index: 1;
    overflow: hidden; /*Não está funcionando o Scroll, se ativado desliga e limita o hover */
}

.CentroCardsWrapper {
    width: 100%;
    overflow-x: hidden;
    padding: 4rem 0;
}

.CentroCards::-webkit-scrollbar {
    display: none;
}

.CentroCards::-webkit-scrollbar-thumb {
    background-color: var(--cor-terciaria);
    border-radius: 10px;
}

.cards:hover { /* Hover com bug, manter o card com a mesma margin depois do hover */
    transform: scale(1.1); /* Aumenta o card em 10% */
    z-index: 10;
}

.Img {
    width: 520px;
    height: 260px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.cards__card {
    display: flex;

}

.cards__imgTecnologia {
    align-items: center;
    margin: 15px;
    padding: 0;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
}

.tecnologias {
    display: flex;
}

.cards__separacao {
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.cards__Titulo {
    padding-top: 2%;
}

.cards__Textos { /* Concertar Hover, provavelmente o bug esteja aqui */
    background-color: var(--cor-dectaaria);
    color: var(--cor-secundario);
    width: 455px;
    height: 500px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.card__Texto { 
    overflow-y: auto;
    width: 95%;
    height: 250px;
    margin: 0;
}

.card__data {
    display: flex;
    margin-top: 2%;
    margin-right: 70%;
    font-family: var(--fonte-segundaria);
    font-size: 20px;
}

.card__btn {
    display: flex;
    margin-inline-end: auto;
}

.explorar {
    padding: 15px 25px;
    font-family: var(--fonte-primaria);
    text-transform: uppercase;
    border-radius: 13px;
    font-size: 25px;
    font-weight: 500;
    color: var(--cor-terciaria);
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid var(--cor-terciaria);
    transition: 0.5s ease;
    user-select: none;
    white-space: nowrap; /*Não querbra a linha!*/
}

/* Scrollbar */
.card__Texto::-webkit-scrollbar {
    background-color: var(--cor-nonaria);
    width: 12px;
    border-radius: 10px;
}

.card__Texto::-webkit-scrollbar-thumb {
    background-color: var(--cor-terciaria);
    border-radius: 10px;
}