@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@400,600;1,600&display=swap');

:root {
    --cor-primaria: #08040B;
    --cor-secundario: #fff;
    --cor-terciaria: #22d4fd;
    --cor-quarternaria: #242020;
    --cor-quinternaria: #0C030A;
    --cor-sextearia: #180615;
    --cor-setiaria: #24091F;
    --cor-octaria: #180615;
    --cor-nonaria: #00132F;
    --cor-decimaria: #ddd;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-segundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size: var(--fonte-segundaria);
    text-decoration: none;
}

a:hover {
    color: var(--cor-terciaria);
    text-shadow: 0 0 5px var(--cor-terciaria), 0 0 10px var(--cor-terciaria), 0 0 20px var(--cor-terciaria);
}

span {
    color: var(--cor-terciaria);
    border: 1px solid #22d4fd;
    padding: 2px;
    white-space: nowrap;
}


.cabecalho {
    text-align: left;
    padding: 1%;
    padding-left: 100px;

}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: .5s;
    z-index: 1100;
}

.sidebar--open+.cabecalho .toggle {
    position: fixed;
}

.bars {
    width: 80%;
    height: 4px;
    background-color: var(--cor-terciaria);
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1, #bar3 {
    width: 70%;
}

#checkbox:checked+.toggle {
    position: fixed;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
    width: 80%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 80%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    background-color: var(--cor-secundario);
    box-shadow: 4px 0 15px var(--cor-primaria)(0, 0, 0, 0.15);
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    z-index: 1000;
}

/* Quando o checkbox estiver marcado, a sidebar aparece */
#checkbox:checked~.sidebar {
    transform: translateX(0);
}

/* Conteúdo interno */
.sidebar__nav {
    display: flex;
    flex-direction: column;
    padding: 55px 30px;
    gap: 10px;
}

.sidebar__titulo {
    font-size: var(--fonte-segundaria);
    margin-bottom: 10px;
}

.sidebar__link {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--cor-nonaria);
    transition: color 0.3s;
}

.sidebar__link:hover {
    color: var(--cor-terciaria);
}

.sidebar__divisor {
    height: 1px;
    background-color: var(--cor-decimaria);
    margin: 20px 0;
}


.titulo-Destaque {
    color: var(--cor-terciaria);
    font-size: 30px;
    font-family: var(--fonte-primaria);
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Centraliza na vertical e horizontal */
    padding: 0% 0;
    /* Adiciona espaço em volta */
    display: flex;

    padding-bottom: 50px;
}

.apresentacao__principal__1 {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.apresentacao__principal__2 {
    flex-grow: 1;
    margin: 1%;
    margin-left: 8%;
    max-width: 50%;
}

.apresentacao__principal {
    background-color: var(--cor-primaria);
    color: var(--cor-secundario);
    font-family: var(--fonte-primaria);
    align-items: center;
    width: 100%;
    height: auto;
}


.apresentacao__principal__titulo {
    font-size: 30px;
    text-align: center;
    font-family: var(--fonte-primaria);
    white-space: nowrap;
}

.apresentacao__conteudo__texto {
    font-size: 25px;
    line-height: 1.6;
    font-family: var(--fonte-segundaria);
    color: var(--cor-secundario);
    text-align: left;
    /* Centraliza o texto na esquerda */
    margin: 20px 0px 50px 0px;
    /* Adiciona espaçamento ao redor */
    padding-right: 0%;
    margin-right: 0%;
    margin-left: 5%;
    width: 90%;
}

.apresentacao__links {
    display: flex;

    align-items: center;
    /* Espaçamento entre os ícones */
    margin-top: 20px;
    /* Espaço entre texto e ícones */
}

.apresentacao__links1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 80px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 4;
    font-size: 30px;
    text-align: left;
    padding: 0%;
    margin-left: 5%;
}

.titulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 30px;
    text-align: left;
    background-color: var(--cor-nonaria);
    padding: 1%;
    color: var(--cor-terciaria);
    border-radius: 13px;
    margin: 2%;
    width: 50%;
    margin-left: 10%;
}

.titulo__Principal__Centro{
    display: flex;
    align-items: end;
}

.titulo__Principal {
    font-family: var(--fonte-primaria);
    font-weight: 40;
    font-size: 40px;
    text-align: center;
    background-color: var(--cor-nonaria);
    padding: 1%;
    color: var(--cor-terciaria);
    border-radius: 13px;
    width: auto;
    min-width: 20%;
}

h2 {
    font-family: var(--fonte-primaria);
    font-weight: 20;
    font-size: 20px;
    text-align: left;
    padding: 1%;
    padding-right: 0%;
    color: var(--cor-secundario);
    margin: 2%;
    width: 100%;
}

p {
    font-family: var(--fonte-segundaria);
    font-weight: 400;
    font-size: 40px;
    text-align: left;
    margin: 4%;
    margin-right: 20%;
    margin-left: 10%;
    height: 20%;
}

.apresentacao__links__link {
    display: flex;
    /*Permite a flexibilização dos intes de uma Div*/
    justify-content: center;
    /*Deixa todos os itens de uma Div alinhados no centro*/
    width: 2px;
    /*Largura*/
    margin-left: 10%;
    padding: 0%;
}

.apresentacao__links__Img {
    max-width: 60px;
}

.div__Do__ODIO__Esclamacao {
    margin-left: 30%;
    padding-bottom: 8%;
}

.img {
    max-width: 300px;
    width: 100%;
    max-height: 700px;
    border-radius: 50px;
    margin-left: 20%;
    /* Espaçamento de 5% entre a div de texto e a imagem */

    /* Espaçamento de 5% até a margem direita */
}

.apresentacaoProfissional {
    background-color: var(--cor-quinternaria);
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.experienciaTrabalho {
    background-color: var(--cor-sextearia);
    padding: 2%;
    width: 100%;
    height: auto;
    padding-top: 100px;
}

.meusProjetos {
    background-color: var(--cor-setiaria);
    /* padding-top: 2%; só ativar quando resolver o problema do scroll e hover */
    padding-top: 8%;
    /*Só vai ficar até resolver o problema de cima */
    height: auto;
}

/* Botão de projetos*/
/* From Uiverse.io by zjssun */
.btn1 {
    padding: 15px 35px;
    font-family: var(--fonte-primaria);
    text-transform: uppercase;
    border-radius: 13px;
    font-size: 15px;
    font-weight: 500;
    color: var(--cor-terciaria);
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid var(--cor-terciaria);
    transition: 0.5s ease;
    user-select: none;
    margin: 2%;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 4%;
}

#btn:hover {
    /* Depois padronizar as cores dos botões */
    color: var(--cor-secundario);
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px var(--cor-secundario), 0 0 10px var(--cor-secundario), 0 0 20px var(--cor-secundario);
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;
}

#btn:hover {
    outline: none;
}

.chamadaFinal {
    background-color: var(--cor-octaria);
    padding-top: 4%;
    height: auto;
}

.btn {
    display: flex;
    margin: 5%;
}

.btn__Curriculo {
    display: flex;
    margin-right: 1%;
}

.btn__Canto {
    justify-items: end;
    white-space: nowrap;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-segundaria);
    color: var(--cor-secundario);
    text-align: center;
    /* Centraliza o texto em todo o corpo */
}

.rodape {
    margin: 0%;
    height: auto;
    font-size: 25px;
}

.rodape__Link {
    font-size: 15px;
}

.chamadaFinal__Redes {
    display: flex;
    margin: 1%;
    margin-left: 40%;
    width: 60%;
}

.chamadaFinal__Redes__2 {
    margin-left: 5%;
}

footer {
    padding: 20px 0;
    background-color: var(--cor-quarternaria);
    color: var(--cor-secundario);
    display: flex;

    align-items: left;
}

footer div {
    text-align: left;
    margin-left: 11%;
}

footer a {
    color: var(--cor-secundario);
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

/* Todos os Projetos */

.projetos {
    background-color: var(--cor-nonaria);
    height: 100%;
}

.projetos__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 3rem;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    /* Talvez eu remova isso */
    margin: 2%;
}

/* Currículo */

.curriculo__Center {
    flex-direction: column;
    align-items: center;
}

.curriculo {
    margin: 2%;
    justify-content: center;
    height: auto;
}

.curriculo__Img {
    max-width: 460px;
    max-height: 820px;
}

.btn2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 12%;
    /*talvez eu exclua no futuro*/
}

.btnVoltar {
    margin: 2%;
}

/* Certificados */

.certificados {
    background-color: var(--cor-nonaria);
}